<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805879676279-u8ehd40ha98ah6eep6eljsee46o30j54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805879676279-u8ehd40ha98ah6eep6eljsee46o30j54</string>
	<key>API_KEY</key>
	<string>AIzaSyDkiEd1A5rXQKMw1n9kg60LVmXRxGXpefA</string>
	<key>GCM_SENDER_ID</key>
	<string>805879676279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>multi.googleservice.release</string>
	<key>PROJECT_ID</key>
	<string>multi--service</string>
	<key>STORAGE_BUCKET</key>
	<string>multi--service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805879676279:ios:6e34e6fb36254b8563b572</string>
</dict>
</plist>